* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

header {
  background-image: url(../img/OBJECTS.png);
  background-repeat: no-repeat;
  background-position: 38px 842px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.background__color {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #FF5722;
  box-shadow: 500px 500px 500px;
  border-radius: 9999px;
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  margin-top: -223px;
  margin-left: -356px;
  filter: blur(200px);
  display: none;
}

.menu__tablet, .menu__phone {
  display: none;
}

.header__top__contenier {
  max-width: 1184px;
  width: 100%;
  margin: 0px auto;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top__contenier ul {
  list-style-type: none;
  display: flex;
  gap: 64px;
}
.header__top__contenier ul a {
  text-decoration: none;
  color: rgba(25, 24, 37, 0.5);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  word-wrap: break-word;
  transition: all 0.6s ease-out;
}
.header__top__contenier ul a:hover {
  color: #222831;
}

.header__top__button .header__top__button1 {
  color: #222831;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  word-wrap: break-word;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.6s ease-out;
}
.header__top__button .header__top__button1:hover {
  color: rgba(25, 24, 37, 0.5);
}
.header__top__button .header__top__button2 {
  color: #EEEEEE;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  word-wrap: break-word;
  background-color: #5D50C6;
  border-radius: 100px;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.6s ease-out;
}
.header__top__button .header__top__button2:hover {
  border: #222831 1px solid;
  color: #222831;
  background-color: transparent;
}

.header__buttom__contenier {
  max-width: 1184px;
  width: 100%;
  padding: 64px 0px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.header__buttom__contenier .header__buttom__text .header__button {
  padding: 16px 32px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgba(255, 189, 189, 0.7);
  border-radius: 100px;
  width: 230px;
  margin-bottom: 43px;
}
.header__buttom__contenier .header__buttom__text .header__button > a {
  display: flex;
  align-items: center;
  color: #F85E9F;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  word-wrap: break-word;
  gap: 16px;
}
.header__buttom__contenier .header__buttom__text h2 {
  color: black;
  font-size: 69px;
  font-weight: 700;
  line-height: 82.8px;
  word-wrap: break-word;
  width: 412px;
  margin-bottom: 43px;
}
.header__buttom__contenier .header__buttom__text h2 span {
  color: #F85E9F;
  font-size: 69px;
  font-weight: 700;
  line-height: 82.8px;
  word-wrap: break-word;
}
.header__buttom__contenier .header__buttom__text p {
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  word-wrap: break-word;
  width: 412px;
  margin-bottom: 43px;
}

.header__buttom__button {
  width: 350px;
  gap: 16px;
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.header__buttom__button .buttom__button1 {
  padding: 16px 32px;
  background-color: #5D50C6;
  border-radius: 100px;
  color: #EEEEEE;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  word-wrap: break-word;
  text-decoration: none;
  transition: all 0.6s ease-out;
  box-sizing: border-box;
}
.header__buttom__button .buttom__button1:hover {
  border: #222831 1px solid;
  color: #222831;
  background-color: transparent;
}
.header__buttom__button .buttom__button2 {
  background-color: transparent;
  border: 1px #EEEEEE solid;
  padding: 16px 32px;
  color: #222831;
  text-decoration: none;
  font-size: 14px;
  align-items: center;
  font-weight: 700;
  line-height: 16.8px;
  word-wrap: break-word;
  gap: 8px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  transition: all 0.6s ease-out;
}
.header__buttom__button .buttom__button2:hover {
  border: #222831 1px solid;
  color: rgba(25, 24, 37, 0.5);
  background-color: transparent;
}

.header__footer__contenier {
  width: 100%;
  max-width: 1184px;
  padding: 64px 0px;
  margin: 0px auto;
}
.header__footer__contenier ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__contenier {
  margin: 0px auto;
  max-width: 1184px;
  width: 100%;
}

.slayder {
  display: flex;
  align-items: center;
  padding: 64px 0px;
  justify-content: space-between;
}
.slayder .slayder__text p {
  color: #F85E9F;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 27.6px;
  letter-spacing: 4.6px;
  word-wrap: break-word;
}
.slayder .slayder__text h2 {
  color: #191825;
  font-size: 44px;
  margin-top: 16px;
  width: 444px;
  font-weight: 700;
  line-height: 52.8px;
  word-wrap: break-word;
}
.slayder .slayder__cards {
  display: flex;
  gap: 21px;
}
.slayder .slayder__cards .card {
  padding: 64px;
  background: white;
  border-radius: 32px;
  border: 1px rgba(25, 24, 37, 0.1) solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  text-align: center;
}
.slayder .slayder__cards .card img {
  margin: 0 auto;
}
.slayder .slayder__cards .card h2 {
  color: #191825;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  word-wrap: break-word;
  margin-top: 64px;
}
.slayder .slayder__cards .card p {
  width: 222px;
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  word-wrap: break-word;
  margin-top: 32px;
}

.hero__cards .hero__cards__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  padding-top: 64px;
}
.hero__cards .hero__cards__top p {
  color: #F85E9F;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 27.6px;
  letter-spacing: 4.6px;
  word-wrap: break-word;
  margin-top: 16px;
}
.hero__cards .hero__cards__top h2 {
  color: #191825;
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  word-wrap: break-word;
}
.hero__cards .hero__cards__top .hero__cards__top__img {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero__cards__bottom {
  border-radius: 32px;
  background: linear-gradient(0deg, #D9D9D9 0%, #ffffff 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__cards__bottom .hero__cards__bottom__card {
  width: 373px;
  background: white;
  border-radius: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  display: inline-flex;
}
.hero__cards__bottom .hero__cards__bottom__card .hero__cards__bottom__text {
  padding: 32px;
}
.hero__cards__bottom .hero__cards__bottom__card .hero__cards__bottom__text .hero__cards__bottom__text__heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}
.hero__cards__bottom .hero__cards__bottom__card .hero__cards__bottom__text .hero__cards__bottom__text__heading h2 {
  color: #191825;
  font-size: 23px;
  width: 228px;
  font-weight: 700;
  line-height: 27.6px;
  word-wrap: break-word;
}
.hero__cards__bottom .hero__cards__bottom__card .hero__cards__bottom__text .hero__cards__bottom__text__heading p {
  color: #F85E9F;
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
  word-wrap: break-word;
}
.hero__cards__bottom .hero__cards__bottom__card .hero__cards__bottom__text .country {
  color: rgba(25, 24, 37, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  word-wrap: break-word;
  margin-bottom: 32px;
}
.hero__cards__bottom .hero__cards__bottom__card .hero__cards__bottom__text p {
  color: #FF5722;
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
  word-wrap: break-word;
}
.header__footer__contenier{
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .background__color {
    display: block;
  }
  
  .menu__tablet {
    display: flex;
  }
  nav {
    display: none;
  }
  .slayder{
    display: block;
  }
  .slayder__cards .card{
    width: 288px;
  }
  .header__buttom__contenier {
    align-items: normal;
    flex-direction: column-reverse;
  }
  .header__top__contenier {
    max-width: 896px;
  }
  body {
    background-position: 1266px;
  }
  .header__buttom__text {
    max-width: 896px;
  }
  .header__buttom__text .header__button {
    margin: 0px auto;
  }
  .header__heading h2 {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 67.2px;
    font-size: 30px;
  }
  .header__buttom__text p {
    margin-left: auto;
    margin-right: auto;
  }
  .header__buttom__button {
    margin-left: auto;
    margin-right: auto;
  }
  .header__buttom__img {
    margin-left: auto;
    margin-right: auto;
  }
  .header__buttom__img img {
    width: 575px;
    height: 632px;
  }
  .slayder__text p{
    text-align: center;
    font-size: 100px;
    margin: 0px auto;
  }
  .slayder__text h2{
    max-width: 1024px;
    text-align: center;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
  }
  .card h2 , p{
    width: 160px;
  }
  .card p{
    display: block;
    max-width: 160px;
  }
  .slayder__cards{
    margin-left: auto;
    margin-right: auto;
    max-width: 612px;
    
  }
  .hero__cards__top__text p{
    width: 896px;
    text-align: center;
    font-size: 10%;
  }
  .hero__cards__top__text h2{
    width: 896px;
    text-align: center;
    margin-top: 16px;
  }
  .hero__cards__top{
    width: 896px;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .hero__cards__top__img{
    margin-left: auto;
    margin-right: auto;
  }
  .hero__cards__bottom__card{
    width: 278px;
  }
  .picture img{
    width: 278px;
  }
  .hero__cards__bottom__text{
    width: 278px;
  }
  .hero__cards__bottom__text__heading{
    display: flex;
    flex-direction: column-reverse;
  }
  .hero__cards__bottom__text__heading h2{
    width: 214px;
  }
  .country{
    width: 214px;
  }

}
@media screen and (max-width: 430px) {
  .menu__phone {
    display: block;
  }
  nav {
    display: none;
  }
  .header__top__button {
    display: none;
  }
  .menu__tablet {
    display: none;
  }
  .header__buttom__img {
    margin-left: auto;
    margin-right: auto;
  }
  .header__buttom__img img {
    width: 295.16px;
    height: 324.42px;
  }
  .background__color {
    display: none;
  }
  header {
    background-image: none;
  }
  .header__buttom__text .header__heading h2 h2 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word;
  }
  p {
    text-align: center;
  }
  .header__footer__contenier{
    display: flex;
    flex-wrap: wrap;
    width: 398px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .header__footer__contenier img{
    width: 132px;
    height: 20px;
  }
  .hero__cards__top__text {
    width: 398px;
    font-size: 32px;
  }
  .card{
    width: 398px;
    margin-right: auto;
    margin-left: auto;
  }
  .slayder__cards{
    width: 398px;
    display: flex;
    flex-wrap: wrap;
  }
  .hero__cards__top__text p {
    width: 398px;
  }
  .hero__cards__top__text h2 {
    width: 398px;
  }
  .hero__cards__top__img{
    width: 398px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  .hero__cards__top{
    width: 398px;
    align-items: center;
    justify-content: center;
  }
  .hero__cards__bottom{
    width: 398px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__cards__bottom__card{
    width: 398px;
  }
  .picture img{
    width: 375px;
  }
  .hero__cards__bottom__text p{
    text-align: left;
  }
  .hero__cards__bottom__text__heading h2{
    text-align: left;
  }
  .country{
    text-align: left;
  }
  .hero__cards__bottom__card {
    max-width: 398px;
}
}/*# sourceMappingURL=main.css.map */